<h1>Triangle Tester</h1>

<form class="" action="/results">
  <div class="form-group">
    <label for="side_1">Side 1</label>
    <input class="form-control" type="number" name="side_1">
    <label for="side_2">Side 2</label>
    <input class="form-control" type="number" name="side_2">
    <label for="side_3">Side 3</label>
    <input class="form-control" type="number" name="side_3">
    <button type="submit">Submit</button>
  </div>
</form>
